---
interface Props {
	date: Date;
}

const { date } = Astro.props;
---

{
    date ? (
        <time datetime={date.toISOString()}>
            {
                date.toLocaleDateString('pt-br', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                })
            }
        </time>
    ) : (
        /* Se não tiver data, não mostra nada ou mostra um texto padrão */
        <span></span> 
    )
}